In [1]:
# Load libraries
library(dplyr)
library(rcompanion)
library(mvnormtest)
library(car)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Loading required package: carData


Attaching package: 'car'


The following object is masked from 'package:dplyr':

    recode

In [2]:
# Read in bike rental data
bikes <- read.csv("hour.csv")
head(bikes, 10)

   instant dteday     season yr mnth hr holiday weekday workingday weathersit
1   1      2011-01-01 1      0  1    0  0       6       0          1
2   2      2011-01-01 1      0  1    1  0       6       0          1
3   3      2011-01-01 1      0  1    2  0       6       0          1
4   4      2011-01-01 1      0  1    3  0       6       0          1
5   5      2011-01-01 1      0  1    4  0       6       0          1
6   6      2011-01-01 1      0  1    5  0       6       0          2
7   7      2011-01-01 1      0  1    6  0       6       0          1
8   8      2011-01-01 1      0  1    7  0       6       0          1
9   9      2011-01-01 1      0  1    8  0       6       0          1
10 10      2011-01-01 1      0  1    9  0       6       0          1
   temp atemp  hum  windspeed casual registered cnt
1  0.24 0.2879 0.81 0.0000    3      13         16
2  0.22 0.2727 0.80 0.0000    8      32         40
3  0.22 0.2727 0.80 0.0000    5      27         32
4  0.24 0.2879 0.75 0.0000    3      10         13
5  0.24 0.2879 0.75 0.0000    0       1          1
6  0.24 0.2576 0.75 0.0896    0       1          1
7  0.22 0.2727 0.80 0.0000    2       0          2
8  0.20 0.2576 0.86 0.0000    1       2          3
9  0.24 0.2879 0.75 0.0000    1       7          8
10 0.32 0.3485 0.76 0.0000    8       6         14

# Run a Multiple Linear Regression on the Continuous Variables

In [3]:
# Remove `instant`, `season`, `yr`, `mnth`, `hr`, `holiday`, `weekday`, `workingday`, `weathersit`, `casual`, `registered` so we are left with only the continuous predictor variables with `cnt` as DV
bikes1 <- subset(bikes, select = -c(instant, season, yr, mnth, hr, holiday, weekday, workingday, weathersit, casual, registered))
head(bikes1, 10)

   dteday     temp atemp  hum  windspeed cnt
1  2011-01-01 0.24 0.2879 0.81 0.0000    16
2  2011-01-01 0.22 0.2727 0.80 0.0000    40
3  2011-01-01 0.22 0.2727 0.80 0.0000    32
4  2011-01-01 0.24 0.2879 0.75 0.0000    13
5  2011-01-01 0.24 0.2879 0.75 0.0000     1
6  2011-01-01 0.24 0.2576 0.75 0.0896     1
7  2011-01-01 0.22 0.2727 0.80 0.0000     2
8  2011-01-01 0.20 0.2576 0.86 0.0000     3
9  2011-01-01 0.24 0.2879 0.75 0.0000     8
10 2011-01-01 0.32 0.3485 0.76 0.0000    14

In [4]:
bikes2 <- bikes1

# Coerce `dteday` to date
bikes2$dteday <- as.Date(bikes2$dteday)

# Coerce `
head(bikes2, 10)

   dteday     temp atemp  hum  windspeed cnt
1  2011-01-01 0.24 0.2879 0.81 0.0000    16
2  2011-01-01 0.22 0.2727 0.80 0.0000    40
3  2011-01-01 0.22 0.2727 0.80 0.0000    32
4  2011-01-01 0.24 0.2879 0.75 0.0000    13
5  2011-01-01 0.24 0.2879 0.75 0.0000     1
6  2011-01-01 0.24 0.2576 0.75 0.0896     1
7  2011-01-01 0.22 0.2727 0.80 0.0000     2
8  2011-01-01 0.20 0.2576 0.86 0.0000     3
9  2011-01-01 0.24 0.2879 0.75 0.0000     8
10 2011-01-01 0.32 0.3485 0.76 0.0000    14

## Backward Regression

In [5]:
# Run a linear regression model with all possible variables included
FitAll = lm(cnt ~ ., data = bikes2)
summary(FitAll)

Call:
lm(formula = cnt ~ ., data = bikes2)

Residuals:
    Min      1Q  Median      3Q     Max
-350.47 -101.19  -25.01   70.26  644.73

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -2.943e+03  8.461e+01 -34.783  < 2e-16 ***
dteday       2.030e-01  5.518e-03  36.797  < 2e-16 ***
temp         5.896e+01  3.926e+01   1.502    0.133
atemp        3.108e+02  4.403e+01   7.058 1.75e-12 ***
hum         -2.749e+02  6.228e+00 -44.138  < 2e-16 ***
windspeed    6.786e+01  1.009e+01   6.726 1.80e-11 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 151 on 17373 degrees of freedom
Multiple R-squared:  0.3074,	Adjusted R-squared:  0.3072
F-statistic:  1542 on 5 and 17373 DF,  p-value: < 2.2e-16

In [6]:
# Run a backwards regression
step(FitAll, direction = 'backward')

Start:  AIC=174392.1
cnt ~ dteday + temp + atemp + hum + windspeed

            Df Sum of Sq       RSS    AIC
<none>                   396018340 174392
- temp       1     51420 396069760 174392
- windspeed  1   1031194 397049534 174435
- atemp      1   1135559 397153899 174440
- dteday     1  30864489 426882829 175694
- hum        1  44407699 440426039 176237

Call:
lm(formula = cnt ~ dteday + temp + atemp + hum + windspeed, data = bikes2)

Coefficients:
(Intercept)       dteday         temp        atemp          hum    windspeed
  -2942.877        0.203       58.963      310.781     -274.878       67.860

In [7]:
fitsome <- lm(cnt ~ dteday + temp + atemp + hum + windspeed, data = bikes2)
summary(fitsome)

Call:
lm(formula = cnt ~ dteday + temp + atemp + hum + windspeed, data = bikes2)

Residuals:
    Min      1Q  Median      3Q     Max
-350.47 -101.19  -25.01   70.26  644.73

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -2.943e+03  8.461e+01 -34.783  < 2e-16 ***
dteday       2.030e-01  5.518e-03  36.797  < 2e-16 ***
temp         5.896e+01  3.926e+01   1.502    0.133
atemp        3.108e+02  4.403e+01   7.058 1.75e-12 ***
hum         -2.749e+02  6.228e+00 -44.138  < 2e-16 ***
windspeed    6.786e+01  1.009e+01   6.726 1.80e-11 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 151 on 17373 degrees of freedom
Multiple R-squared:  0.3074,	Adjusted R-squared:  0.3072
F-statistic:  1542 on 5 and 17373 DF,  p-value: < 2.2e-16

## Forward Regression

In [8]:
fitstart <- lm(cnt ~ 1, data = bikes2)
summary(fitstart)

Call:
lm(formula = cnt ~ 1, data = bikes2)

Residuals:
    Min      1Q  Median      3Q     Max
-188.46 -149.46  -47.46   91.54  787.54

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  189.463      1.376   137.7   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 181.4 on 17378 degrees of freedom

In [9]:
step(fitstart, direction = 'forward', scope = (formula(FitAll)))

Start:  AIC=180764.7
cnt ~ 1

            Df Sum of Sq       RSS    AIC
+ temp       1  93677759 478083832 177657
+ atemp      1  91907421 479854170 177721
+ hum        1  59618351 512143240 178853
+ dteday     1  44109491 527652100 179371
+ windspeed  1   4970060 566791531 180615
<none>                   571761591 180765

Step:  AIC=177657
cnt ~ temp

            Df Sum of Sq       RSS    AIC
+ hum        1  49874585 428209247 175744
+ dteday     1  28884878 449198954 176576
+ windspeed  1   6021342 472062489 177439
<none>                   478083832 177657
+ atemp      1     30698 478053133 177658

Step:  AIC=175744.3
cnt ~ temp + hum

            Df Sum of Sq       RSS    AIC
+ dteday     1  30430343 397778904 174465
+ atemp      1    910902 427298346 175709
+ windspeed  1    164674 428044573 175740
<none>                   428209247 175744

Step:  AIC=174465.2
cnt ~ temp + hum + dteday

            Df Sum of Sq       RSS    AIC
+ atemp      1    729370 397049534 174435
+ windspeed  1    625004 397153899 174440
<none>                   397778904 174465

Step:  AIC=174435.3
cnt ~ temp + hum + dteday + atemp

            Df Sum of Sq       RSS    AIC
+ windspeed  1   1031194 396018340 174392
<none>                   397049534 174435

Step:  AIC=174392.1
cnt ~ temp + hum + dteday + atemp + windspeed

Call:
lm(formula = cnt ~ temp + hum + dteday + atemp + windspeed, data = bikes2)

Coefficients:
(Intercept)         temp          hum       dteday        atemp    windspeed
  -2942.877       58.963     -274.878        0.203      310.781       67.860

Both forward and backward regression have shown that all continuous variables in the dataset are good predictors of the `cnt` dependent variable.

# Run a MANOVA on the Categorical Variables with all 3 possible DVs

In [10]:
# Make a new copy of the original dataset
bikes3 <- bikes
head(bikes3, 10)

   instant dteday     season yr mnth hr holiday weekday workingday weathersit
1   1      2011-01-01 1      0  1    0  0       6       0          1
2   2      2011-01-01 1      0  1    1  0       6       0          1
3   3      2011-01-01 1      0  1    2  0       6       0          1
4   4      2011-01-01 1      0  1    3  0       6       0          1
5   5      2011-01-01 1      0  1    4  0       6       0          1
6   6      2011-01-01 1      0  1    5  0       6       0          2
7   7      2011-01-01 1      0  1    6  0       6       0          1
8   8      2011-01-01 1      0  1    7  0       6       0          1
9   9      2011-01-01 1      0  1    8  0       6       0          1
10 10      2011-01-01 1      0  1    9  0       6       0          1
   temp atemp  hum  windspeed casual registered cnt
1  0.24 0.2879 0.81 0.0000    3      13         16
2  0.22 0.2727 0.80 0.0000    8      32         40
3  0.22 0.2727 0.80 0.0000    5      27         32
4  0.24 0.2879 0.75 0.0000    3      10         13
5  0.24 0.2879 0.75 0.0000    0       1          1
6  0.24 0.2576 0.75 0.0896    0       1          1
7  0.22 0.2727 0.80 0.0000    2       0          2
8  0.20 0.2576 0.86 0.0000    1       2          3
9  0.24 0.2879 0.75 0.0000    1       7          8
10 0.32 0.3485 0.76 0.0000    8       6         14

In [11]:
# Subset to only the categorical IVs and the 3 possible DVs
bikes4 <- subset(bikes3, select = -c(instant, dteday, temp, atemp, hum, windspeed))
head(bikes4, 10)

   season yr mnth hr holiday weekday workingday weathersit casual registered
1  1      0  1    0  0       6       0          1          3      13
2  1      0  1    1  0       6       0          1          8      32
3  1      0  1    2  0       6       0          1          5      27
4  1      0  1    3  0       6       0          1          3      10
5  1      0  1    4  0       6       0          1          0       1
6  1      0  1    5  0       6       0          2          0       1
7  1      0  1    6  0       6       0          1          2       0
8  1      0  1    7  0       6       0          1          1       2
9  1      0  1    8  0       6       0          1          1       7
10 1      0  1    9  0       6       0          1          8       6
   cnt
1  16
2  40
3  32
4  13
5   1
6   1
7   2
8   3
9   8
10 14

In [12]:
# Coerce the categorical variables to factors
bikes4$season <- as.factor(bikes4$season)
bikes4$yr <- as.factor(bikes4$yr)
bikes4$mnth <- as.factor(bikes4$mnth)
bikes4$hr <- as.factor(bikes4$hr)
bikes4$holiday <- as.factor(bikes4$holiday)
bikes4$weekday <- as.factor(bikes4$weekday)
bikes4$workingday <- as.factor(bikes4$workingday)
bikes4$weathersit <- as.factor(bikes4$weathersit)

bikes4

      season yr mnth hr holiday weekday workingday weathersit casual registered
1     1      0  1    0  0       6       0          1           3     13
2     1      0  1    1  0       6       0          1           8     32
3     1      0  1    2  0       6       0          1           5     27
4     1      0  1    3  0       6       0          1           3     10
5     1      0  1    4  0       6       0          1           0      1
6     1      0  1    5  0       6       0          2           0      1
7     1      0  1    6  0       6       0          1           2      0
8     1      0  1    7  0       6       0          1           1      2
9     1      0  1    8  0       6       0          1           1      7
10    1      0  1    9  0       6       0          1           8      6
11    1      0  1    10 0       6       0          1          12     24
12    1      0  1    11 0       6       0          1          26     30
13    1      0  1    12 0       6       0          1          29     55
14    1      0  1    13 0       6       0          2          47     47
15    1      0  1    14 0       6       0          2          35     71
16    1      0  1    15 0       6       0          2          40     70
17    1      0  1    16 0       6       0          2          41     52
18    1      0  1    17 0       6       0          2          15     52
19    1      0  1    18 0       6       0          3           9     26
20    1      0  1    19 0       6       0          3           6     31
21    1      0  1    20 0       6       0          2          11     25
22    1      0  1    21 0       6       0          2           3     31
23    1      0  1    22 0       6       0          2          11     17
24    1      0  1    23 0       6       0          2          15     24
25    1      0  1    0  0       0       0          2           4     13
26    1      0  1    1  0       0       0          2           1     16
27    1      0  1    2  0       0       0          2           1      8
28    1      0  1    3  0       0       0          2           2      4
29    1      0  1    4  0       0       0          2           2      1
30    1      0  1    6  0       0       0          3           0      2
⋮     ⋮      ⋮  ⋮    ⋮  ⋮       ⋮       ⋮          ⋮          ⋮      ⋮
17350 1      1  12   18 0       0       0          2          12     113
17351 1      1  12   19 0       0       0          1          16      86
17352 1      1  12   20 0       0       0          1           9      63
17353 1      1  12   21 0       0       0          1           5      42
17354 1      1  12   22 0       0       0          1           6      30
17355 1      1  12   23 0       0       0          1          10      39
17356 1      1  12   0  0       1       1          1           4      30
17357 1      1  12   1  0       1       1          1           6      13
17358 1      1  12   2  0       1       1          1           3       8
17359 1      1  12   3  0       1       1          1           0       1
17360 1      1  12   4  0       1       1          1           0       3
17361 1      1  12   5  0       1       1          1           0       9
17362 1      1  12   6  0       1       1          1           0      40
17363 1      1  12   7  0       1       1          1           2      83
17364 1      1  12   8  0       1       1          1           9     187
17365 1      1  12   9  0       1       1          2          13     144
17366 1      1  12   10 0       1       1          2          33      87
17367 1      1  12   11 0       1       1          2          43     114
17368 1      1  12   12 0       1       1          2          52     172
17369 1      1  12   13 0       1       1          2          38     165
17370 1      1  12   14 0       1       1          2          62     185
17371 1      1  12   15 0       1       1          2          69     246
17372 1      1  12   16 0       1       1          2          30     184
17373 1      1  12   17 0       1       1          2          14     150
17374 1      1  12   18 0       1       1          2          10     112
17375 1      1  12   19 0       1       1          2          11     108
17376 1      1  12   20 0       1       1          2           8      81
17377 1      1  12   21 0       1       1          1           7      83
17378 1      1  12   22 0       1       1          1          13      48
17379 1      1  12   23 0       1       1          1          12      37
      cnt
1      16
2      40
3      32
4      13
5       1
6       1
7       2
8       3
9       8
10     14
11     36
12     56
13     84
14     94
15    106
16    110
17     93
18     67
19     35
20     37
21     36
22     34
23     28
24     39
25     17
26     17
27      9
28      6
29      3
30      2
⋮     ⋮
17350 125
17351 102
17352  72
17353  47
17354  36
17355  49
17356  34
17357  19
17358  11
17359   1
17360   3
17361   9
17362  40
17363  85
17364 196
17365 157
17366 120
17367 157
17368 224
17369 203
17370 247
17371 315
17372 214
17373 164
17374 122
17375 119
17376  89
17377  90
17378  61
17379  49

## Test for Assumptions for MANOVA

### Sample Size
"There must be more cases than dependent variables in every cell. In addition, there must be at least 20 cases per independent variable."

Given that there are 17,379 observations, we know that we far exceed the 20 cases per independent variable. With 8 IVs, we would need a minimum of 160 cases, so we far exceed that minimum.

In [13]:
table(bikes4$season)
table(bikes4$yr)
table(bikes4$mnth)
table(bikes4$hr)
table(bikes4$holiday)
table(bikes4$weekday)
table(bikes4$workingday)
table(bikes4$weathersit)

   1    2    3    4
4242 4409 4496 4232

   0    1
8645 8734

   1    2    3    4    5    6    7    8    9   10   11   12
1429 1341 1473 1437 1488 1440 1488 1475 1437 1451 1437 1483

  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
726 724 715 697 697 717 725 727 727 727 727 727 728 729 729 729 730 730 728 728
 20  21  22  23
728 728 728 728

    0     1
16879   500

   0    1    2    3    4    5    6
2502 2479 2453 2475 2471 2487 2512

    0     1
 5514 11865

    1     2     3     4
11413  4544  1419     3

Nearly every cell of the table counts has more than the minimum of 3 required for the 3 DVs we will be testing. The only exception is the 3 (equal, rather than greater) in the `4` of `weathersit`. We will continue with our analysis anyway.

### Multivariate Normality
We begin by subsetting to only our DVs.

In [14]:
bikes4dv <- subset(bikes4, select = c(casual, registered, cnt))
bikes4dv

      casual registered cnt
1      3     13          16
2      8     32          40
3      5     27          32
4      3     10          13
5      0      1           1
6      0      1           1
7      2      0           2
8      1      2           3
9      1      7           8
10     8      6          14
11    12     24          36
12    26     30          56
13    29     55          84
14    47     47          94
15    35     71         106
16    40     70         110
17    41     52          93
18    15     52          67
19     9     26          35
20     6     31          37
21    11     25          36
22     3     31          34
23    11     17          28
24    15     24          39
25     4     13          17
26     1     16          17
27     1      8           9
28     2      4           6
29     2      1           3
30     0      2           2
⋮     ⋮      ⋮          ⋮
17350 12     113        125
17351 16      86        102
17352  9      63         72
17353  5      42         47
17354  6      30         36
17355 10      39         49
17356  4      30         34
17357  6      13         19
17358  3       8         11
17359  0       1          1
17360  0       3          3
17361  0       9          9
17362  0      40         40
17363  2      83         85
17364  9     187        196
17365 13     144        157
17366 33      87        120
17367 43     114        157
17368 52     172        224
17369 38     165        203
17370 62     185        247
17371 69     246        315
17372 30     184        214
17373 14     150        164
17374 10     112        122
17375 11     108        119
17376  8      81         89
17377  7      83         90
17378 13      48         61
17379 12      37         49

In [15]:
# Limit number of rows because the Wilks-Shapiro test cannot take too much data
bikes4dv1 <- bikes4dv[1:5000,]
bikes4dv1

     casual registered cnt
1     3     13          16
2     8     32          40
3     5     27          32
4     3     10          13
5     0      1           1
6     0      1           1
7     2      0           2
8     1      2           3
9     1      7           8
10    8      6          14
11   12     24          36
12   26     30          56
13   29     55          84
14   47     47          94
15   35     71         106
16   40     70         110
17   41     52          93
18   15     52          67
19    9     26          35
20    6     31          37
21   11     25          36
22    3     31          34
23   11     17          28
24   15     24          39
25    4     13          17
26    1     16          17
27    1      8           9
28    2      4           6
29    2      1           3
30    0      2           2
⋮    ⋮      ⋮          ⋮
4971  33     80        113
4972   8     71         79
4973  19     48         67
4974  24     26         50
4975   6      7         13
4976   4      4          8
4977   5      8         13
4978  19     26         45
4979  54     88        142
4980  55    128        183
4981  91    163        254
4982 112    163        275
4983 146    192        338
4984 142    152        294
4985 130    196        326
4986 109    184        293
4987  98    208        306
4988 114    206        320
4989  91    213        304
4990  87    187        274
4991  70    205        275
4992  68     96        164
4993  25     71         96
4994  14     56         70
4995   7     22         29
4996   5     12         17
4997   4      7         11
4998   0      4          4
4999   2      2          4
5000   2     24         26

In [16]:
# Run Wilks-Shapiro test for Multivariate Normality
mshapiro.test(t(bikes4dv1))

	Shapiro-Wilk normality test

data:  Z
W = 0.7431, p-value < 2.2e-16

We do NOT meet the assumption of multivariate normality that is required for MANOVA. However, we were never taught what to actually do in that case, only to continue on for the sake of learning. So, that is what we will do.

### Homogeneity of Variance

We have previously discovered that our DVs are not normally distributed. Therefore, we will use the Fligner-Killeen test for homogeniety of variance, as it is known to be the most forgiving option when dealing with non-normal data.

Although we have 8 possible categorical IVs, I have chosen only 3 to check below as if 3 are not homogenous in variance, then the full 8 certainly will not be either.

In [20]:
fligner.test(casual ~ interaction(season, weekday, holiday), data = bikes4)

	Fligner-Killeen test of homogeneity of variances

data:  casual by interaction(season, weekday, holiday)
Fligner-Killeen:med chi-squared = 5173.8, df = 36, p-value < 2.2e-16

Unfortunately, the `casual` DV does not meet the assumption of homogeneity of variance. Therefore, we expect that `registered` and `cnt` will not meet it either, as we already know that the 3 DVs are closely related. However, we can check them quickly as well.

In [21]:
fligner.test(registered ~ interaction(season, weekday, holiday), data = bikes4)
fligner.test(cnt ~ interaction(season, weekday, holiday), data = bikes4)

	Fligner-Killeen test of homogeneity of variances

data:  registered by interaction(season, weekday, holiday)
Fligner-Killeen:med chi-squared = 1335.6, df = 36, p-value < 2.2e-16

	Fligner-Killeen test of homogeneity of variances

data:  cnt by interaction(season, weekday, holiday)
Fligner-Killeen:med chi-squared = 1363.5, df = 36, p-value < 2.2e-16

Indeed, we see that these data do NOT meet the assumption of homogeniety of variance in order to proceed with the MANOVA. However, for exploration purposes, we will continue with the knowledge that our final analysis may not be completely reliable.

### Absence of Multicollinearity
We run a correlation on all combinations of the DVs.

In [24]:
cor.test(bikes4dv$casual, bikes4dv$registered, method = 'pearson', use = 'complete.obs')
cor.test(bikes4dv$casual, bikes4dv$cnt, method = 'pearson', use = 'complete.obs')
cor.test(bikes4dv$registered, bikes4dv$cnt, method = 'pearson', use = 'complete.obs')

	Pearson's product-moment correlation

data:  bikes4dv$casual and bikes4dv$registered
t = 77.459, df = 17377, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.4954822 0.5175867
sample estimates:
      cor
0.5066177

	Pearson's product-moment correlation

data:  bikes4dv$casual and bikes4dv$cnt
t = 127.27, df = 17377, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.6867886 0.7021806
sample estimates:
      cor
0.6945641

	Pearson's product-moment correlation

data:  bikes4dv$registered and bikes4dv$cnt
t = 546.82, df = 17377, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.9713222 0.9729557
sample estimates:
      cor
0.9721507

We can see that only `casual` and `registered` meet the assumption of the absence of multicollinearity. Indeed, `casual` is very close to the 0.7 boundary of multicollinearity with `cnt`, while `registered` is extremely closely correlated with `cnt`. Because of these relationships, we will use only the `casual` and `registered` variables to run the MANOVA. (In other words, `registered` would account for nearly all of the variance in `cnt` as well, so there is no need to include both variables.)

## Run the MANOVA

In [40]:
ind_vars <- cbind(bikes4$season, bikes4$yr, bikes4$mnth, bikes4$hr, bikes4$holiday, bikes4$workingday, bikes4$weekday, bikes4$weathersit)

MANOVA <- manova(cbind(casual, registered) ~ ind_vars, data = bikes4)
summary(MANOVA)

             Df  Pillai approx F num Df den Df    Pr(>F)
ind_vars      8 0.48387   692.95     16  34740 < 2.2e-16 ***
Residuals 17370
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [41]:
summary.aov(MANOVA, test = 'wilks')

 Response casual :
               Df   Sum Sq Mean Sq F value    Pr(>F)
ind_vars        8 10243057 1280382  694.95 < 2.2e-16 ***
Residuals   17370 32002618    1842
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

 Response registered :
               Df    Sum Sq  Mean Sq F value    Pr(>F)
ind_vars        8 106950304 13368788  797.55 < 2.2e-16 ***
Residuals   17370 291162785    16762
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

We see from the post-hocs that the independent variables are significant predictors for both `casual` and `registered` users.

# Conclusion
It appears that all continuous and all categorical variables are significant predictors of the `casual` and `registered` bike rental counts. We have excluded the `cnt` variable as too closely related to `registered` and therefore redundant. We will take these conclusions back to our Python notebook in order to continue the Machine Learning portion of the analysis.